<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      charset="UTF-8"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/painel-front-end/front-end-painel.css" />
        <link rel="stylesheet" href="/css/painel-front-end/cards-painel.css" />
    <link rel="stylesheet" href="main.css" />
    <title>Inicio</title>
  </head>
  <style></style>

  <body>
    <!-- Cabecalho -->
    <header th:fragment="cabecalho2" class="cabecalho">
      <nav class="navbar bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand text-light">Y.our Study</a>
          <form class="d-flex" role="search">
            <button class="btn btn-danger sair" type="submit">Sair</button>
          </form>
        </div>
      </nav>
    </header>

    <!-- side-bar -->

    <main class="conteudo container">
    
      <!-- introducao -->
      <section class="secao-primaria container">
        <div class="texto">
          <h1 class="titulo-front-end text-primary">Front-End</h1>
          <h2 class="text-success">Desenvolva suas habilidades</h2>
          <p class="descricao-front-end text-light">
            Desenvolvimento web front-end é o desenvolvimento da interface
            gráfica do usuário de um site, através do uso de HTML, CSS e
            JavaScript, para que os usuários possam visualizar e interagir com
            esse site.
          </p>
          <button class="btn btn-primary btn-conhecer">Conhecer</button>
        </div>

        <div class="container-img">
          <img src="assets/img/front-end.svg" alt="" class="img-front" />
        </div>
      </section>

      <!-- Conteudos disponiveis -->
      <section class="secao-secundaria container">
        <div class="conteudos-titulo">
          <h1 class="titulo-conteudos-disponiveis text-light">
            Conteudos disponiveis
          </h1>
        </div>
        
        <div class="container-cards container">
        <a th:href="@{/html/niveis}">
          <div class="card -html bg-dark">
            <div class="texto-card">
              <h1 class="text-light">HTML</h1>
              <p class="descricao-card">
                Desenvolva suas habilidades e aplique seu conhecimento
              </p>
            </div>

            <div class="container-img-card">
              <img class="img-area" src="assets/img/html.png" alt="" />
            </div>
          </div>
	</a>
  <a th:href="@{/css/niveis}">
          <div class="card border-css bg-dark">
            <div class="texto-card">
              <h1 class="text-light">CSS</h1>
              <p class="descricao-card">
                Desenvolva suas habilidades e aplique seu conhecimento
              </p>
            </div>

            <div class="container-img-card">
              <img class="img-area" src="assets/img/css.png" alt="" />
            </div>
          </div>

  </a>
  <a th:href="@{/js/niveis}">
          <div class="card border-js bg-dark">
            <div class="texto-card">
              <h1 class="text-light">Java Script</h1>
              <p class="descricao-card">
                Desenvolva suas habilidades e aplique seu conhecimento
              </p>
            </div>

            <div class="container-img-card">
              <img class="img-area" src="assets/img/js.png" alt="" />
            </div>
          </div>
          <a>
        </div>
      </section>

      <section class="secao-terciaria">
        <!-- <div class="resumo-conteudos-titulo">
          <h1 class="titulo-resumo-conteudos text-light">
            Resumo dos materiais
          </h1>
        </div> -->

        <div class="container-percursos">
          <div class="container-esquerdo">
            <h2 class="text-primary">Percurso Iniciante</h2>
            <div
              class="card-atividade bg-dark"
              id="color1"
              
            >
              <div class="titulo-atividade">
                <div class="titulo-escrito">
                  <img class="img-atividade"src="assets/img/icons8-código-fonte-100.png">
                  <h1 class="text-light">
                    <strong class="html">HTML</strong> Percurso Iniciante
                  </h1>
                </div>
                <div class="arrow">
                  <img
                    class="arrow-img"
                    id="btn-abrir"
                   src="assets/img/eye.png"
                    alt=""
                  />
                </div>
              </div>
            </div>

            <div
              class="card-atividade bg-dark"
              id="color1"
            >
              <div class="titulo-atividade">
                <div class="titulo-escrito">
                  <img class="img-atividade" src="assets/img/icons8-código-fonte-100.png">
                  <h1 class="text-light">
                    <strong class="css">CSS</strong> Percurso Iniciante
                  </h1>
                </div>
                <div class="arrow">
                  <img
                    class="arrow-img"
                    id="btn-abrir2"
                    src="assets/img/eye.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div
              class="card-atividade bg-dark"
              id="color1"
            >
              <div class="titulo-atividade">
                <div class="titulo-escrito">
                  <img class="img-atividade" src="assets/img/icons8-código-fonte-100.png">
                  <h1 class="text-light">
                    <strong class="js">Java Script</strong> Percurso Iniciante
                  </h1>
                </div>
                <div class="arrow">
                  <img
                    class="arrow-img"
                    id="btn-abrir"
                    src="assets/img/eye.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- conteudo direito -->

          <div class="container-direito">
            <h2 class="js">Percurso Intermediário</h2>
            <div
              class="card-atividade bg-dark"
              id="color1"
            >
              <div class="titulo-atividade">
                <div class="titulo-escrito">
                  <img class="img-atividade" src="assets/img/icons8-código-fonte-100.png">
                  <h1 class="text-light">
                    <strong class="html">HTML</strong> Percurso Intermediário
                  </h1>
                </div>
                <div class="arrow">
                  <img
                    class="arrow-img"
                    id="btn-abrir"
                    src="assets/img/eye.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div
              class="card-atividade bg-dark"
              id="color1"
            >
              <div class="titulo-atividade">
                <div class="titulo-escrito">
                  <img class="img-atividade" src="assets/img/icons8-código-fonte-100.png">
                  <h1 class="text-light">
                    <strong class="css">CSS</strong> Percurso Intermediário
                  </h1>
                </div>
                <div class="arrow">
                  <img
                    class="arrow-img"
                    id="btn-abrir"
                    src="assets/img/eye.png"
                    alt=""
                  />
                </div>
              </div>
            </div>

            <div
              class="card-atividade bg-dark"
              id="color1"
            >
              <div class="titulo-atividade">
                <div class="titulo-escrito">
                  <img class="img-atividade" src="assets/img/icons8-código-fonte-100.png">
                  <h1 class="text-light">
                    <strong class="js">Java <Script></Script></strong> Percurso Intermediário
                  </h1>
                </div>
                <div class="arrow">
                  <img
                    class="arrow-img"
                    id="btn-abrir"
                    src="assets/img/eye.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
 <footer class="text-center text-lg-start bg-dark text-light ">
			<!-- Section: Social media -->
			<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom ">
				<!-- Left -->
				<div class="me-5 d-none d-lg-block ">
					<span>Get connected with us on social networks:</span>
				</div>
				<!-- Left -->

				<!-- Right -->
				<div>
					<a href="" class="me-4 link-secondary">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a href="" class="me-4 link-secondary">
						<i class="fab fa-twitter"></i>
					</a>
					<a href="" class="me-4 link-secondary">
						<i class="fab fa-google"></i>
					</a>
					<a href="" class="me-4 link-secondary">
						<i class="fab fa-instagram"></i>
					</a>
					<a href="" class="me-4 link-secondary">
						<i class="fab fa-linkedin"></i>
					</a>
					<a href="" class="me-4 link-secondary">
						<i class="fab fa-github"></i>
					</a>
				</div>
				<!-- Right -->
			</section>
			<!-- Section: Social media -->

			<!-- Section: Links  -->
			<section>
				<div class="container text-center text-md-start mt-5">
					<!-- Grid row -->
					<div class="row mt-3">
						<!-- Grid column -->
						<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
							<!-- Content -->
							<h6 class="text-uppercase fw-bold mb-4">
								<i class="fas fa-gem me-3 text-secondary"></i>Company name
							</h6>
							<p>
								Here you can use rows and columns to organize your footer content. Lorem ipsum
								dolor sit amet, consectetur adipisicing elit.
							</p>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
							<!-- Links -->
							<h6 class="text-uppercase fw-bold mb-4">
								Products
							</h6>
							<p>
								<a href="#!" class="text-reset">Angular</a>
							</p>
							<p>
								<a href="#!" class="text-reset">React</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Vue</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Laravel</a>
							</p>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
							<!-- Links -->
							<h6 class="text-uppercase fw-bold mb-4">
								Useful links
							</h6>
							<p>
								<a href="#!" class="text-reset">Pricing</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Settings</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Orders</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Help</a>
							</p>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
							<!-- Links -->
							<h6 class="text-uppercase fw-bold mb-4">Contact</h6>
							<p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
							<p>
								<i class="fas fa-envelope me-3 text-secondary"></i>
								info@example.com
							</p>
							<p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
							<p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
						</div>
						<!-- Grid column -->
					</div>
					<!-- Grid row -->
				</div>
			</section>
			<!-- Section: Links  -->

			<!-- Copyright -->
			<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
				© 2023 Copyright:
				<a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
			</div>
			<!-- Copyright -->
		</footer>
    <!--<script src="assets/js/homeAdmin.js"></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/js/abrirPagina.js"></script>
    <script src="main.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".sub-btn").click(function () {
          $(this).next(".sub-menu").slideToggle();
          $(this).find(".dropdown").toggleClass("rotate");
        });

        $(".menu-btn").click(function () {
          $(".side-bar").addClass("active");
          $(".menu-btn").css("visibility", "hidden");
        });

        $(".close-btn").click(function () {
          $(".side-bar").removeClass("active");
          $(".menu-btn").css("visibility", "visible");
        });
      });
    </script>
  </body>
</html>
