<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="UTF-8"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/HomeAdmin.css">
	<title>Cadastro</title>
</head>
<style>

	.container-erro {

		font-size: 12px;
		color: red;
	}

	.teste {
		margin-top: 20px;
	}

	.card {
		width: 50%;
		height: 100%;
		border-radius: 0px;
		overflow: auto;
	}

	.card-container {
		display: flex;
		height: 500px;
		width: 80vw;
		background-color: blue;

	}

	.form-image {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;
		height: 100%;
		background: linear-gradient(90deg, rgba(98,19,172,1) 0%, rgba(10,9,25,1) 100%);
		overflow: auto;
	}
	
	.texto-form, h1{
		color: white;
		
		font-weight: 500;
		display: flex;
		justify-content: flex-start;
		text-align: start;
		
	}
	.texto-form{
		width: 100%;
	}
	
	.texto{
		margin-left: 20px;
		font-size: 40px;
	}

	input,
	label {
		height: 35px;
	}

	.icon {
		height: 450px;
	}
</style>

<body>

	<!-- Cabecalho -->
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div> 


	<section class="conteudo">



		<div class="container-funcoes">


			<div class="card-container">
				<div class="form-image">
				<div class="texto-form"><h1 class="texto"></h1></div>
					<img src="/assets/img/login-animate.svg" alt="" class="icon">
				</div>

				<div class="card bg-dark text-light container">
					<div class="form-header mb-3 container">
						<h1>Cadastre-se</h1>
						<h5>Insira suas informações</h2>
					</div>

					<!-- Na tag form precisamos dizer q o método é post e precisamos trazer o objeto usuario-->
					<form method="post" action="/insertAlunos" th:object="${usuario}"
						class="input-group row g-3 needs-validation">

						<!--Nome -->


						<div class="input-box col-md-6 position-relative">




							<label for="nome" class="form-label">Nome completo</label>

							<input placeholder="Digite seu nome completo" th:field="*{nome}" type="text"
								class="form-control" id="nome">

							<div class=" container-erro alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
								<!-- usamos o th:if pra verificar se ha algo de errado nesse campo -->
								<label class="validation-message" th:errors="*{nome}"> </label>
							</div>

						</div>


						<!-- email-->

						<div class="input-box col-md-6 position-relative">

							<!-- usamos o th:if pra verificar se ha algo de errado nesse campo -->



							<label for="email" class="form-label">Email</label>
							<input placeholder="Digite seu email" th:field="*{email}" type="text" class="form-control"
								id="nome">
							<div class=" container-erro alert-danger" role="alert"
								th:if="${#fields.hasErrors('email')}">
								<label class="validation-message" th:errors="*{email}"> </label>
							</div>

						</div>

						<div class="input-box col-md-6 position-relative">





							<label for="email" class="form-label">Senha</label>
							<input placeholder="Digite sua senha" type="password" class="form-control" id="nome">

						</div>

						<div class="input-box col-md-6 position-relative">
							<label for="senha" class="form-label">Confirmar senha</label>
							<input placeholder="Confirme sua senha" type="password" class="form-control" id="senha" required>
						</div>


						<div class="input-box col-md-6 position-relative">



							<label for="telefone" class="form-label">Celular</label>
							<div class="input-group has-validation">
								<input placeholder="Digite seu celular" type="tel" th:field="*{tel}" class="form-control" id="telefone"
									aria-describedby="validationTooltipUsernamePrepend">



							</div>

							<div class=" container-erro alert-danger" role="alert" th:if="${#fields.hasErrors('tel')}">
								<label class="validation-message" th:errors="*{tel}"> </label>
							</div>

						</div>
						<div class="input-box col-md-6 position-relative">

							<label for="cep" class="form-label">CEP</label>
							<input placeholder="Digite seu CEP" type="text" th:field="*{cep}" class="cep form-control" id="cep">

							<div class=" container-erro alert-danger" role="alert" th:if="${#fields.hasErrors('cep')}">
								<label class="validation-message" th:errors="*{cep}"> </label>
							</div>




						</div>

						<div class="col-12 mt-4">
							<button class="btn btn-primary enviar" type="submit">Enviar informações</button>
						</div>
					</form>
				</div>



			</div>

	</section>



	<script src="/assets/js/abrirPagina.js"></script>
	<script type="text/javascript">

		$(document).ready(function () {

			$('.sub-btn').click(function () {
				$(this).next('.sub-menu').slideToggle();
				$(this).find('.dropdown').toggleClass('rotate');
			});

			$('.menu-btn').click(function () {
				$('.side-bar').addClass('active');
				$('.menu-btn').css("visibility", "hidden");
			});

			$('.close-btn').click(function () {
				$('.side-bar').removeClass('active');
				$('.menu-btn').css("visibility", "visible");
			});

		});


	</script>

</body>

</html>