<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="UTF-8"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/HomeAdmin.css">
	<title>Cadastro</title>
</head>
<style>
	.container-erro {

		font-size: 12px;
		color: red;
	}

	.teste {
		margin-top: 20px;
	}
</style>

<body>

	<!-- Cabecalho -->
	<div th:replace="fragmentos/fragmentos :: cabecalho2"></div>


	<section class="conteudo">
		<div th:replace="fragmentos/fragmentos :: side-bar"></div>


		<div class="container-funcoes">


			<div class="container">
				<div class="card bg-dark text-light">
					<div class="form-header mb-3 container">
						<h1>Cadastro de alunos</h1>
						<h5>Insira as informações</h2>
					</div>

					<!-- Na tag form precisamos dizer q o método é post e precisamos trazer o objeto usuario-->
					<form method="post" action="/insertUsuarios" th:object="${usuario}"
						class="input-group row g-3 needs-validation">

						<!--Nome -->


						<div class="input-box col-md-4 position-relative">




							<label for="nome" class="form-label">Nome completo</label>

							<input placeholder="Digite seu nome completo" th:field="*{nome}" type="text"
								class="form-control" id="nome">

							<div class=" container-erro alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
								<!-- usamos o th:if pra verificar se ha algo de errado nesse campo -->
								<label class="validation-message" th:errors="*{nome}"> </label>
							</div>

						</div>


						<!-- email-->

						<div class="input-box col-md-4 position-relative">

							<!-- usamos o th:if pra verificar se ha algo de errado nesse campo -->



							<label for="email" class="form-label">Email</label>
							<input placeholder="Digite seu email" th:field="*{email}" type="text" class="form-control"
								id="nome">
							<div class=" container-erro alert-danger" role="alert"
								th:if="${#fields.hasErrors('email')}">
								<label class="validation-message" th:errors="*{email}"> </label>
							</div>

						</div>

						<div class="input-box col-md-4 position-relative">
							<label for="senha" class="form-label">Senha</label>
							<input type="password" class="form-control" id="senha" required>
						</div>

						<!--
						<div class="input-box col-md-4 position-relative">
							<label for="usuario" class="form-label">Nome de usuário</label>
							<div class="input-group has-validation">
								<span class="input-group-text" id="usuarioPrepend">@</span>
								<input type="text" class="form-control" id="usuario"
									aria-describedby="validationTooltipUsernamePrepend">

							</div>

						</div>  -->

						<div class="input-box col-md-4 position-relative">



							<label for="telefone" class="form-label">Telefone com DDD</label>
							<div class="input-group has-validation">
								<input type="tel" th:field="*{tel}" class="form-control" id="telefone"
									aria-describedby="validationTooltipUsernamePrepend">



							</div>

							<div class=" container-erro alert-danger" role="alert" th:if="${#fields.hasErrors('tel')}">
								<label class="validation-message" th:errors="*{tel}"> </label>
							</div>

						</div>

						<!--
                <div class="input-box col-md-6 position-relative">
                    <label for="cidade" class="form-label">Cidade</label>
                    <input type="text" class="form-control" id="cidade" required>
                    <div class="invalid-tooltip">
                        Please provide a valid city.
                    </div>
                </div>
                -->
						<!--
                <div class=" state col-md-3 mt-3 position-relative ">
                    <label for="estado" class="form-label">Estado</label>
                    <select class="form-select" id="estado" required>
                        <option selected disabled value="">Escolha</option>
                        <option>SP</option>
                        <option>RJ</option>
                        <option>BH</option>
                        <option>BA</option>
                    </select>
                    <div class="invalid-tooltip">
                        Please select a valid state.
                    </div>
                </div>
                -->
						<div class="input-box col-md-4 position-relative">

							<label for="cep" class="form-label">CEP</label>
							<input type="text" th:field="*{cep}" class="cep form-control" id="cep">

							<div class=" container-erro alert-danger" role="alert" th:if="${#fields.hasErrors('cep')}">
								<label class="validation-message" th:errors="*{cep}"> </label>
							</div>


						</div>

						<div class="col-12 mt-4">
							<button class="btn btn-primary enviar" type="submit">Enviar informações</button>
						</div>
					</form>
				</div>



			</div>

	</section>



	<script src="/assets/js/abrirPagina.js"></script>
	<script type="text/javascript">

		$(document).ready(function () {

			$('.sub-btn').click(function () {
				$(this).next('.sub-menu').slideToggle();
				$(this).find('.dropdown').toggleClass('rotate');
			});

			$('.menu-btn').click(function () {
				$('.side-bar').addClass('active');
				$('.menu-btn').css("visibility", "hidden");
			});

			$('.close-btn').click(function () {
				$('.side-bar').removeClass('active');
				$('.menu-btn').css("visibility", "visible");
			});

		});


	</script>

</body>

</html>