
<style>
	.card {
		display: flex;
			flex-direction: column;
	justify-content: center;
	align-items: center;
		padding: 30px;
		height: 500px;
		width: 500px;
		border-radius: 10px;
		color: #FFF;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
		border: 1px solid #6427a1;
	}

	.container {
		width: 600px;
	}

    .column {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .form-header h1 ml-5{
        font-size: 25px;
    }
    
    .input-box{
		width: 400px;
	}
	
	.entrar{
		background-color: #6427a1;
		border: none;
		}
		
			
	.entrar:hover{
		background-color: rgb(64, 0, 128);
}

</style>
    <div class="">
        <div class="card bg-dark">
            <div class="form-header mb-5  ">
                <h1>Ja possui cadastro?</h1>
                <h5>Entre com sua conta!</h2>
            </div>
            <form class="inputt-group">

                <div class="input-box mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>

                <div class="input-box mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="senha">
                </div>
                <!-- <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
                <div class="column">
                    <button type="submit" class="btn btn-primary entrar">Entrar</button>
                    <a th:href="@{/admin/dashboard}" >Criar uma conta</a>
                </div>
            </form>
        </div>
    </div>
