
 <div class="container">
        <div class="card bg-dark text-light">
            <div class="form-header mb-3 container">
                <h1>Cadastro</h1>
                <h5>Insira as informações</h2>
            </div>

		<!-- Na tag form precisamos dizer q o método é post e precisamos trazer o objeto usuario-->
            <form method="post" action="/insertAlunos" th:object ="${usuario}"class="input-group row g-3 needs-validation">

                <div class="input-box col-md-4 position-relative">
                    <label for="nome" class="form-label">Nome completo</label>
                    <!--Aqui precisamos passar qual o atributo da minha classe usuario que vai receber o valor digitado no input e pra isso usamos o th:field e usamos atributos asteristicos-->
                    <input placeholder="Digite seu nome completo"  type="text" class="form-control" id="nome" value="Kaique" required>
                    <div class="valid-tooltip">
                        Bom!
                    </div>
                </div>

                <div class="input-box col-md-4 position-relative">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" value="Otto" required>
                    <div class="valid-tooltip">
                        Bom!
                    </div>
                </div>

                <div class="input-box col-md-4 position-relative">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="senha" value="Otto" required>
                    <div class="valid-tooltip">
                        Bom!
                    </div>
                </div>

                <div class="input-box col-md-4 position-relative">
                    <label for="usuario" class="form-label">Nome de usuário</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="usuarioPrepend">@</span>
                        <input type="text" class="form-control" id="usuario"
                            aria-describedby="validationTooltipUsernamePrepend" required>
                        <div class="invalid-tooltip">
                            Please choose a unique and valid username.
                        </div>
                    </div>
                </div>

                <div class="input-box col-md-4 position-relative">

                    <label for="telefone" class="form-label">Telefone com DDD</label>
                    <div class="input-group has-validation">
                        <input type="tel" class="form-control" id="telefone"
                            aria-describedby="validationTooltipUsernamePrepend" required>
                        <div class="invalid-tooltip">
                            Please choose a unique and valid username.
                        </div>
                    </div>
                </div>

				<!--
                <div class="input-box col-md-6 position-relative">
                    <label for="cidade" class="form-label">Cidade</label>
                    <input type="text" class="form-control" id="cidade" required>
                    <div class="invalid-tooltip">
                        Please provide a valid city.
                    </div>
                </div>
                -->
                <!--
                <div class=" state col-md-3 mt-3 position-relative ">
                    <label for="estado" class="form-label">Estado</label>
                    <select class="form-select" id="estado" required>
                        <option selected disabled value="">Escolha</option>
                        <option>SP</option>
                        <option>RJ</option>
                        <option>BH</option>
                        <option>BA</option>
                    </select>
                    <div class="invalid-tooltip">
                        Please select a valid state.
                    </div>
                </div>
                -->
                <div class="input-box col-md-3 position-relative">
                    <label for="cep" class="form-label">CEP</label>
                    <input type="text" class="form-control" id="cep" required>
                    <div class="invalid-tooltip">
                        Please provide a valid zip.
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <button class="btn btn-primary enviar" type="submit">Enviar informações</button>
                </div>
            </form>
        </div>