<div class="container">
  <table class="table table-dark">
    <thead class="table-alert-info" >
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">User</th>
        <th scope="col">Email</th>
        <th scope="col">Tel</th>
        <th scope="col">Idade</th>
        <th scope="col">cep</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="usuario : ${usuarios}"> 
        <th scope="row">1</th>
        <td><span th:text="${usuario.nome}"></td>
        <td><span th:text="${usuario.nomeUsuario}"></span></td>
        <td th:text="${usuario.email}">(xx) xxxx-xxxx</td>
        <td th:text="${usuario.tel}">19</td>
        <td th:text="${usuario.idade}">06390-280</td>
         <td th:text="${usuario.cep}">06390-280</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>(xx) xxxx-xxxx</td>
        <td>@fat</td>
        <td>dsd</td>
         <td>dsd</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@fat</td>
         <td>dsd</td>
        <td>dsd</td>
      </tr>
    </tbody>
  </table>
</div>