<div class="container">
  <table class="table table-light">
    <thead class="table-info" >
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Tel</th>
        <th scope="col">Idade</th>
        <th scope="col">cep</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="usuario : ${usuarios}"> 
        <th scope="row">1</th>
        <td><span th:text="${usuario.nome}">></spanth:text="${usuario.email}">></td>
        <td><span th:text="${usuario.email}"></span></td>
        <td>(xx) xxxx-xxxx</td>
        <td>19</td>
        <td>06390-280</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>(xx) xxxx-xxxx</td>
        <td>@fat</td>
        <td>dsd</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@fat</td>
        <td>dsd</td>
      </tr>
    </tbody>
  </table>
</div>