<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="UTF-8"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/admin-login.css">
	<title>Login área administrativa - Y.our Study </title>
</head>

<body>

	<div class="login-form container">
		<div class="container">
			<div class="card bg-dark cadastro-container">
				<div class="form-header mb-5  ">
					<h1>Cadastro de Admin</h1>
					<h5>Crie seu usuario de admin no sistema</h2>
				</div>
				<form method="post" th:object="${admin}" action="salvarAdmin" class="inputt-group">

					<div class="input-box mb-3">
						<label for="nome" class="form-label" th:field="*{nome}">Nome</label>
						<input type="text" class="form-control" id="nome" aria-describedby="emailHelp">

					</div>


					<div class="input-box mb-3">
						<label for="email" class="form-label">Email</label>
						<input type="email" class="form-control" th:field="*{email}" id="email"
							aria-describedby="emailHelp">

					</div>

					<div class="input-box mb-3">
						<label for="senha" class="form-label">Senha</label>
						<input type="password" class="form-control" th:field="*{senha}" id="senha">
					</div>

					<div class="column botoes">
						<button type="submit" class="btn btn-primary entrar">Cadastrar</button>
						<button type="submit" class="btn btn-primary voltar">Voltar</button>
						<a th:href="@{/admin/dashboard}">Criar uma conta</a>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>

</html>