<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="UTF-8"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/HomeAdmin.css">
    <title>Document</title>
</head>

<body>
    <header class="cabecalho">
        <nav class="nav-bar">
            <div class="logo">
                <a th:href="@{/home}"> Y.our Study</a>
            </div>
            <div class="nav-list">
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>
            </div>
            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img src="assets/img/menu_white_36dp.svg" alt="" class="icon"></button>
            </div>
        </nav>

        <div class="mobile-menu">
            <ul>
                <li class="nav-item"> <a class="nav-link" href="#conteudo-primario">Inicio</a></li>
                <li class="nav-item"> <a class="nav-link" href="#sobre">Objetivo</a></li>
                <li class="nav-item"> <a class="nav-link" href="#skilss">Funcionalidades</a></li>
                <li class="nav-item"> <a class="nav-link" href="#projetos">Participantes</a></li>
            </ul>
        </div>
    </header>

    <!-- Home -->

    <section class="conteudo">
        <div class="side-bar">
            <div class="menu">
                <div class="item"><a href="index.html"><i class="fas fa-desktop"></i>Dashboard</a></div>
                <div class="item">
                    <a class="sub-btn"><i class="fas fa-table"></i>Cursos<i class="fas fa-angle-right dropdown"></i></a>
                    <div class="sub-menu">
                        <a href="#" class="sub-item">Javascript</a>
                        <a href="#" class="sub-item">PHP</a>
                        <a href="#" class="sub-item">React.js</a>
                    </div>
                </div>
                
						<div class="item">
                    <a class="sub-btn"><i class="fas fa-cogs"></i>Usuário<i class="fas fa-angle-right dropdown"></i></a>
                    <div class="sub-menu">
                        <a onclick = "abrirPag(`cadastro`)"href="#" class="sub-item">Cadastrar</a>
                      <a href="#" onclick="abrirPag(`listagem`)">Listar</a>
                    </div>
                </div>
                
                <div class="item">
                <a href="#" onclick="abrirPag(`listagem`)"><i class="fas fa-th"></i>Login</a>
                </div>

                <div class="item"><a href="index.html"><i class="fas fa-info-circle"></i>Sobre</a></div>
            </div>
        </div>
        <div class="container-funcoes">

            <!-- <div class="welcome">
                <div class="icon-apresentacao">
                        <img class="logo-icon" src="assets/img/logoStudy.png" alt="">
                </div>
    
              <div class="texto-apresentacao">
                <h1 class="apresentacao"> Bem vindo, <strong><span class="usuario">Kaique</span></strong><br>
                    Voce está acessando o perfil de <strong>Administrador</strong></h1>
              </div>
            </div> -->

            <a onclick="abrirPag(`cadastro`)">
                <div class="funcao"  id="color1">
                    <!-- <div class="icon-funcao"> -->
                        <img src="/assets/img/user.png" alt="" class="icon">
                    <!-- </div> -->

                    <div class="descricao-funcao">
                        <h1>Cadastrar Usuário</h1>
                    </div>
                </div>
            </a>

            <div class="funcao" id="color2">
                <!-- <div class="icon-funcao"> -->
                    <img src="/assets/img/conteudo.png" alt="" class="icon">
                <!-- </div> -->

                <div class="descricao-funcao">
                    <h1>Cadastrar conteudo</h1>
                </div>
            </div>

            <a onclick="abrirPag(`listagem`)">
                <div class="funcao" id="color3">
                    <!-- <div class="icon-funcao"> -->
                        <img src="/assets/img/lista.png" alt="" class="icon">
                    <!-- </div> -->

                    <div class="descricao-funcao">
                        <h1>Lista de usuarios</h1>
                    </div>
                </div>
            </a>

            <div class="funcao" id="color4">
                <!-- <div class="icon-funcao"> -->
                    <img src="/assets/img/suporte.png" alt="" class="icon">
                <!-- </div> -->

                <div class="descricao-funcao">
                    <h1>Suporte</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="alteracao">
    </div>
     <!--<script src="assets/js/homeAdmin.js"></script> -->
             <script src="/assets/js/abrirPagina.js"></script>
    <script type="text/javascript">
    
        $(document).ready(function () {

            $('.sub-btn').click(function () {
                $(this).next('.sub-menu').slideToggle();
                $(this).find('.dropdown').toggleClass('rotate');
            });

            $('.menu-btn').click(function () {
                $('.side-bar').addClass('active');
                $('.menu-btn').css("visibility", "hidden");
            });

            $('.close-btn').click(function () {
                $('.side-bar').removeClass('active');
                $('.menu-btn').css("visibility", "visible");
            });

        });

	
    </script>

</body>
</html>