<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/landingPage.css">
    <link rel="shortcut icon" href="assets/img/logoStudy.png" type="image/x-icon">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>

    <!-- CABEÇALHO -->

    <header class="cabecalho">
            <nav class="nav-bar">
              <div class="logo">
                   <a href="#conteudo-primario"> Y.our Study</a>
              </div>
            <div class="nav-list">
        <ul>
           <li class="nav-item"> <a class="nav-link" href="#conteudo-primario" >Inicio</a></li>
           <li class="nav-item"> <a class="nav-link" href="#sobre">Objetivo</a></li>
           <li class="nav-item"> <a class="nav-link" href="#skilss">Funcionalidades</a></li>
           <li class="nav-item">  <a class="nav-link" href="#projetos">Participantes</a></li>
    </ul>   
    </div>
        <div class="mobile-menu-icon">
            <button onclick="menuShow()"><img src="assets/img/menu_white_36dp.svg" alt="" class="icon"></button>
        </div>
    </nav>
        
    <div class="mobile-menu">
    <ul>
             <li class="nav-item"> <a class="nav-link" href="#conteudo-primario" >Inicio</a></li>
             <li class="nav-item"> <a class="nav-link" href="#sobre">Objetivo</a></li>
             <li class="nav-item"> <a class="nav-link" href="#skilss">Funcionalidades</a></li>
             <li class="nav-item">  <a class="nav-link" href="#projetos">Participantes</a></li>
    </ul>
    </div>
    </header>

    <!-- CONTEUDO PRINCIPAL - SECTION 1 -->

    <main class="conteudo">

        <section class="conteudo-primario" id="conteudo-primario" data-aos="fade-down">
            <div class="conteudo-escrito">
                <h1 class="titulo">Organize seus <br> estudos</h1>
                <h2 class="subtitulo">Estude e pratique com nossa<br> variedade de funcionalidades</h2>
                <div class="botoes">
                <a href="https://www.linkedin.com/in/kaique-oliveira-489451251/"><button class="botao"> <img src="assets/img/icons8-linkedin-circled.svg" alt=""> Começar</button></a>
                <a href="https://github.com/Ka1quee"><button class="botao"> <img src="assets/img/icons8-github.svg" alt=""> Entrar</button></a>
                </div>
            </div>
               <img class="imagem" src="assets/img/usandoPc.svg" alt="">
        </section>

<!-- AQUI SE INICIA O CONTEUDO 2 -->

        <section class="sobre-mim" id="sobre" data-aos="fade-right">
            <div class="sobre-mim-texto" >
                <h1>Nosso objetivo</h1>
                <p>Esse projeto tem como objetivo auxiliar, orientar e disponibilizar aos estudantes um ambiente de estudos virtual, onde contará com ferramentas que vão auxiliar na produtividade.</p>
            </div>
        </section>


        <!-- SECTION 3 -->

    <section class="section3" id="skilss" data-aos="fade-right">
        <h1>Funcionalidades</h1>
    
        <div class="container1">
            <div class="card-skills">
                <img class="img-skills" src="assets/img/icons8-questionary-66.png" alt="">
                <p>Questionarios</p>
            </div>

            <div class="card-skills">
                <img class="img-skills" src="assets/img/icons8-exam-100.png" alt="">
                <p>Revisão de provas</p>
            </div>

            <div class="card-skills">
                <img class="img-skills" src="assets/img/icons8-calendar-100.png" alt="">
                <p>Cronogramas</p>
            </div>  
    </section>
</section>

<!-- SECTION 4 -->

   <!-- <section class="section4" id="projetos" data-aos="fade-right">
        <h1>PARTICIPANTES</h1>
            <div class="container">
                <div class="card-projeto">
                    <div class="icon">
                        <img src="assets/img/Y.our Study.png" alt="projeto2">
                    </div>
                
                <div class="content">
                     <h3>Gabriel Calixto</h3>
                    <p>
                        Responsavel pelo banco de dados.
                    </p>
            </div>
                <button id="read_button">Saiba Mais</button>
            </div>

            <div class="card-projeto">
                <div class="icon">
                    <img src="assets/img/Y.our Study.png" alt="projeto2">
                </div>
            
            <div class="content">
                 <h3>Kaique Oliveira</h3>
                <p>
                    Responsavel pelo Front-end e Back-end.
                
                </p>
        </div>
            <button id="read_button">Saiba mais</button>
        </div>

        <div class="card-projeto">
            <div class="icon">
                <img src="assets/img/Y.our Study.png" alt="projeto2">
            </div>
        
        <div class="content">
             <h3>Dayana</h3>
            <p>
                  Responsavel pelo banco de dados.
            </p>
    </div>
        <button id="read_button">Saiba mais</button>
    </div>
    <div class="card-projeto">
        <div class="icon">
            <img src="assets/img/Y.our Study.png" alt="projeto2">
        </div>
    
    <div class="content">
         <h3>Ana Vitória</h3>
        <p>
          Responsavel por toda documentação.
        </p>
</div>
    <button id="read_button">Saiba mais</button>
</div>
        <div class="card-projeto">
            <div class="icon">
                <img src="assets/img/interstellar-projeto.PNG" alt="projeto2">
                </div>
                    <div class="content">
                        <h3>Larissa</h3>
                        <p>
                          Ainda nao sei.
                        </p>
                    </div>
                <a href="#"><button  id="read_button"> Saiba mais</button></a>
                </div>
            </div>
        </div>     
    </div>
</div>
    </section> -->
    
<!-- RODAPÉ -->
        <footer class="rodape">
            <div class="creditos">
                <h1>Desenvolvido por <a href="https://www.linkedin.com/in/kaique-oliveira-489451251/"> Kaique Oliveira</a></h1>
           </div>
        </footer>
    </main>
    
    <script src="assets/js/landingPage.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>

<!-- Desenvolvido por Kaique Oliveira -->