@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

:root {
  --bg-color: linear-gradient(
    55deg,
    #ffffff 0,
    #d6ffff 25%,
    #9fd8ff 50%,
    #64b2e3 75%,
    #128fca 100%
  );;
  --header-color: #64b2e3;
  --font-family: 'Exo 2', sans-serif;
  --cor-clara: rgb(44, 116, 179);
  --cor-escura: #0A2647;
}

.search{
	border: 1px solid #6427a1 ;
	color: #6427a1;
}

.search:hover{
	background-color: rgb(64, 0, 128);
	border:  rgb(64, 0, 128);;
}

body{
     background: linear-gradient(90deg, rgba(10,9,25,1) 0%, rgba(98,19,172,1) 100%);
}

.conteudo{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-funcoes{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.funcao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 260px;
  width: 260px;
   background-color: rgb(64, 0, 128) ;
  border-radius: 6px;
  border: 1px solid #6427a1;
  gap: 50px;
  font-size: 12px;
  color: white;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.descricao-funcao{
	display: flex;
	justify-content: center;
	
	text-align: center;
	
}


.escolha{
	font-size: 22px;
	text-decoration: none;
	border: none;
}

a{
	text-decoration: none;
}
.funcao:hover{
  box-shadow: 10px 7px 4px 0px rgba(0,0,0,0.43);
  transition: 0.3s;
}

.icon-funcao{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: #d4d4d4;
    border: 1.5px solid rgb(113, 113, 255);
}

.icon{
    height: 90px;
}

.welcome{
  height: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  font-size: 27px;
  color: rgb(54, 54, 54);
  
  text-align: center;
}

.apresentacao{
	font-size: 50px;
	color: white;
}

.logo-icon{
  height: 100px;
}

strong{
  color: blue;
}


