.side-bar{
  width: 250px;
  height: 100vh;
  background-color: blue;
  overflow-y: auto;
  transition-property: left;
  top:0;
  background-color: #2e7bab;
  
}

/* .side-bar{
  background: rgba(255,255,255 , 0.1);
  backdrop-filter:blur(15px);
  width: 290px;
  height: 100vh;
  position: fixed;
  top:0;
  left: -100%;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;

} */

.side-bar.active{
  left: 0;
}

.side-bar .menu{
  width: 100%;
  
}

.side-bar .menu .item{
  position:relative;
  cursor:pointer;
}

.side-bar .menu .item a{
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.side-bar .menu .item a:hover{
  background: #6427a1;
  transition: 0.3s ease;

}

.side-bar .menu .item i{
  margin-right: 15px;
}

.side-bar .menu .item a .dropdown{

  position: absolute;
  right:0;
  margin: 20px;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
  background: rgba(255,255,255 , 0.1);
  display:none;
}

.side-bar .menu .item .sub-menu a{
  padding-left: 80px;
}

.rotate{
  transform: rotate(90deg);
}

.close-btn{
  position: absolute;
  color: #fff;
  font-size: 20px;
  right: 0;
  margin: 25px;
  cursor: pointer;
}


.menu-btn{
  position: absolute;
  color: #fff;
  font-size: 20px;
  margin: 25px;
  cursor:pointer;
}