<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="UTF-8"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/HomeUsuario.css">
	<link rel="stylesheet" href="/css/conteudo/percurso-iniciante.css">
	<link rel="stylesheet" href="/css/conteudo/conteudo-form.css">
	<title>Cadastrar Conteuúdos</title>
</head>

<body>

	<!-- Cabecalho -->
	<div th:replace="fragmentos/fragmentos :: cabecalho2"></div>



	<!-- Home -->
	<section class="conteudo">

		<!-- Side-bar -->
		<div th:replace="fragmentos/fragmentos :: side-bar"></div>


		<div class="container-funcoes">

			<div class="container-texto-categoria">


				<div class="texto-categoria">
					<h1 class="titulo-categoria text-light "><strong class="css">Cadastro </strong>Atividades</h1>
				</div>

				<div class="container-card">
					<div class="card-form bg-dark">
						<div class="titulo-card">
							<h2 class="text-primary">
								Cadastro de atividades
							</h2>

							<h5 class="text-light">Inisira as informações</h5>
						</div>

						<forn class="form" method="post" >
							<div class="input-group">

								<div class="input-box">
									<label class="text-light" for="titulo">Titulo</label>
									<input type="text" name="" id="titulo" placeholder="Digite o Titulo"  >
								</div>
								<div class="input-box">
									<label class="text-light" for="descricao">Descrição</label>
									<input type="text" name="" id="descricao" placeholder="Digite a descrição" >
								</div>

								<div class="input-box">
									<label class="text-light" for="descricao">Selecione a categoria</label>
									<select id="paginaDestino" name="paginaDestino" required>
										<option value="HtmlIniciante" disabled>Selecione</option>
										<option value="/HtmlIniciante">HTML para Iniciantes</option>
										<option value="/HtmlIntermediario">HTML para Intermediários</option>

										<option value="/CssIniciante">CSS para Iniciantes</option>
										<option value="/CssIntermediario">CSS para Intermediários</option>


									</select>
								</div>
								<div class="container-botao">
									<button class="btn btn-primary">Enviar</button>
								</div>
							</div>
						</forn>
					</div>
				</div>


			</div>
			<div class="container-central container ">
			</div>
		</div>
	</section>


	</div>
	<!--<script src="assets/js/homeAdmin.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
	<script src="/assets/js/abrirPagina.js"></script>
	<script type="text/javascript">

		$(document).ready(function () {

			$('.sub-btn').click(function () {
				$(this).next('.sub-menu').slideToggle();
				$(this).find('.dropdown').toggleClass('rotate');
			});

			$('.menu-btn').click(function () {
				$('.side-bar').addClass('active');
				$('.menu-btn').css("visibility", "hidden");
			});

			$('.close-btn').click(function () {
				$('.side-bar').removeClass('active');
				$('.menu-btn').css("visibility", "visible");
			});

		});


	</script>

</body>

</html>