<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="UTF-8"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/HomeAdmin.css">
	<title>Cadastro</title>
</head>
<style>
	.container-erro {

		font-size: 12px;
		color: red;
	}

	.teste {
		margin-top: 20px;
	}

	form {
		display: flex;

	}


	.assunto {

		height: 150px;
		width: 390px;
		font-size: 20px;

	}

	.guia {
		width: 800px;
		border-radius: 10px;
		border: 1px solid blue;
	}



	.right {
		width: 40%;
		height: 100%;

		overflow: auto;
	}

	.container-imports {
		display: flex;
		flex-direction: row;
		text-align: center;
		align-items: center;
		width: 100%;
		display: flex;
		justify-content: start;
		gap: 80px;
		flex-wrap: wrap;

	}

	.funcao {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: 0;
		height: 130px;
		width: 130px;
		padding: 30px;
		gap: 10px;
	}

	.teste {
		width: 1000px;
	}

	.icon {
		height: 50px;
	}

	.imports {
		display: flex;
		flex-direction: column;
		gap: 20px;


	}

	.imports-test {
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
	}

	.card {
		width: 900px;
	}

	.pergunta {
		font-size: 20px;
		color: rgb(172, 228, 255);
	}

	.a,
	.b,
	.c {
		color: rgb(172, 228, 255);
	}

	.rc {
		color: green;
	}

	.labels-inputs {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.input-pergunta {
		width: 800px;
		margin-bottom: 20px;
	}

	.titulo-pergunta h1 {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.alternativas {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		gap: 20px;
	}

	.passo3 {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

	}

	#step_3 {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
	}

	.opcoes {
		width: 390px;
	}
</style>

<body>

	<!-- Cabecalho -->
	<div th:replace="fragmentos/fragmentos :: cabecalho2"></div>


	<section class="conteudo">
		<div th:replace="fragmentos/fragmentos :: side-bar"></div>


		<div class="container-funcoes">


			<div class="container">
				<div class="card bg-dark text-light">
					<div class="form-header mb-3 container">
						<h1><strong class="html">HTML </strong>Cadastro de Atividades</h1>
						<h5>Preencha todas as informações com atenção</h5>
					</div>

					<!-- Na tag form precisamos dizer q o método é post e precisamos trazer o objeto usuario-->
					<!-- <h3>Pergunta <span id="passo"></span></h3> -->
					<form method="post" action="/insertConteudo" th:object="${conteudo}"
						class="input-group row g-3 needs-validation">

						<!--Nome -->

						<div id="step_1" class="step">
							<div class="input-box col-md-5 position-relative " e>
								<label for="titulo" class="form-label">Titulo</label>

								<input placeholder="Digite o titulo " th:field="*{titulo}" type="text"
									class="form-control" id="titulo">

								<div class=" container-erro alert-danger" role="alert"
									th:if="${#fields.hasErrors('titulo')}">

									<label class="validation-message" th:errors="*{titulo}"> </label>
								</div>



							</div>



							<div class="input-box col-md-5 position-relative">
								<label for="descricao" class="form-label">Descricao</label>

								<input placeholder="Digite a descrição " th:field="*{descricao}" type="text"
									class="form-control" id="descricao">

								<div class=" container-erro alert-danger" role="alert"
									th:if="${#fields.hasErrors('titulo')}">

									<label class="validation-message" th:errors="*{descricao}"> </label>
								</div>
							</div>


							<div class="col-12 mt-4">
								<button class="btn btn-primary enviar" type="submit">Enviar informações</button>
							</div>
						</div>



						<div id="step_2" class="step">

							<div class="passo3">
								<div class="titulo-pergunta">
									<h1 class="react">Guia de estudo</h1>
								</div>

								<div class="labels-inputs">
									<div class="input-box col-md-4 position-relative">
										<label for="pergunta" class="form-label">Introdução *</label>
										<textarea th:field="*{guia}" class="guia" name="" id="" cols="85"
											rows="5"></textarea>
									</div>



									<div class="alternativas">

										<div class="input-box opcoes col-md-4 position-relative">
											<label for="alternativa" class="form-label">Exemplo 1 *</label>
											<input type="text" th:field="*{exemplo1}" class="form-control"
												id="alternativa">
										</div>

										<div class="input-box opcoes col-md-4 position-relative">
											<label for="alternativa" class="form-label">Exemplo 2 *</label>
											<input type="text" th:field="*{exemploDois}" class="form-control"
												id="alternativa">
										</div>

										<div class="input-box opcoes col-md-4 position-relative">
											<label for="telefone" class="form-label">Exemplo 3 *</label>
											<input type="text" th:field="*{exemploTres}" class="cep form-control"
												id="cep">
										</div>

										<div class="input-box opcoes col-md-4 position-relative">
											<label for="cep" class="form-label">Exemplo 4 *</label>
											<input type="text" th:field="*{exemploQuatro}" class="cep form-control"
												id="cep">
										</div>
										<div class="input-box col-md-4 position-relative">
											<label for="pergunta" class="form-label">Explicação dos exemplos *</label>
											<textarea th:field="*{exemploCinco}" class="guia" name="" id="" cols="85"
												rows="5"></textarea>
										</div>

										<div class="col-12 mt-4">
											<button class="btn btn-primary enviar" type="submit">Enviar
												informações</button>
										</div>

									</div>
								</div>
							</div>
						</div>


						<div id="step_3" class="step">

							<div class="passo3">
								<div class="titulo-pergunta">
									<h1 class="react">Pergunta 1</h1>
								</div>

								<div class="labels-inputs">
									<div class="input-box col-md-4 position-relative">
										<label for="pergunta" class="form-label">Pergunta *</label>
										<input type="text" th:field="*{pergunta1}" class="form-control input-pergunta"
											id="pergunta">
									</div>

									<div class="alternativas">

										<div class="input-box opcoes col-md-4 position-relative">
											<label for="alternativa" class="form-label">Alternativa A *</label>
											<input type="text" th:field="*{alt}" class="form-control" id="alternativa">
										</div>

										<div class="input-box opcoes col-md-4 position-relative">
											<label for="alternativa" class="form-label">Alternativa B *</label>
											<input type="text" th:field="*{alt2}" class="form-control" id="alternativa">
										</div>

										<div class="input-box opcoes col-md-4 position-relative">
											<label for="telefone" class="form-label">Alternativa C *</label>
											<input type="text" th:field="*{alt3}" class="cep form-control" id="cep">
										</div>

										<div class="input-box opcoes col-md-4 position-relative">
											<label for="cep" class="form-label">Alternativa D *</label>
											<input type="text" th:field="*{respostaCorreta}" class="cep form-control"
												id="cep">
										</div>

									</div>
								</div>
							</div>
						</div>


						<div id="step_4" class="step">

							<div class="passo3">
								<div class="titulo-pergunta">
									<h1 class="react">Pergunta 2</h1>
								</div>

								<div class="labels-inputs">
									<div class="input-box col-md-4 position-relative">
										<label for="pergunta" class="form-label">Pergunta *</label>
										<input type="text" th:field="*{pergunta2}" class="form-control input-pergunta"
											id="pergunta">
									</div>

									<div class="alternativas">

										<div class="input-box opcoes col-md-4 position-relative">
											<label for="alternativa" class="form-label">Alternativa A *</label>
											<input type="text" th:field="*{alt4}" class="form-control" id="alternativa">
										</div>

										<div class="input-box opcoes col-md-4 position-relative">
											<label for="alternativa" class="form-label">Alternativa B *</label>
											<input type="text" th:field="*{alt5}" class="form-control" id="alternativa">
										</div>

										<div class="input-box opcoes col-md-4 position-relative">
											<label for="telefone" class="form-label">Alternativa C *</label>
											<input type="text" th:field="*{alt6}" class="cep form-control" id="cep">
										</div>

										<div class="input-box opcoes col-md-4 position-relative">
											<label for="cep" class="form-label">Alternativa D *</label>
											<input type="text" th:field="*{respostaCorreta2}" class="cep form-control"
												id="cep">
										</div>

									</div>
								</div>
							</div>
							-->
						</div>



				</div>
			</div>
			<div class="botoes-row">
				<button class="btn btn-primary" id="prev">Anterior</button>
				<button class="btn btn-success" id="next">Avançar</button>
			</div>
		</div>

		</div>
		</form>
		</div>



		</div>

	</section>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
	<script src="/assets/js/abrirPagina.js"></script>
	<script src="/assets/js/form-etapas.js"></script>
	<script type="text/javascript">

		$(document).ready(function () {

			$('.sub-btn').click(function () {
				$(this).next('.sub-menu').slideToggle();
				$(this).find('.dropdown').toggleClass('rotate');
			});

			$('.menu-btn').click(function () {
				$('.side-bar').addClass('active');
				$('.menu-btn').css("visibility", "hidden");
			});

			$('.close-btn').click(function () {
				$('.side-bar').removeClass('active');
				$('.menu-btn').css("visibility", "visible");
			});

		});


	</script>

</body>

</html>