<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/conteudo-list.css" />
    <link rel="shortcut icon" href="assets/img/logoStudy.png" type="image/x-icon" />
    <title>Lista de disciplinas</title>
  </head>
  <body>
    <!-- CABEÇALHO -->
    <header class="cabecalho">
      <img
        class="cabecalho-imagem"
        src="assets/img/logoStudy copy.png"
        alt="Logo da comunidade Ballerini"
      />
      <nav class="cabecalho-menu">
        <a class="cabecalho-menu-item" href="index.html">Inicio</a>
        <a class="cabecalho-menu-item" href="funcoes.html">Matérias</a>
        <a class="cabecalho-menu-item" href="#">Sobre</a>
        <a class="cabecalho-menu-item" href="formulario-login.html">Entrar</a>
      </nav>
    </header>

    <main class="conteudo-pagina">
        <section class="cadastro-usuarios">
          <h1>Lista de conteudos</h1>
            <div class="container">
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Matéria</th>
                        <!-- Utilizando colspan para dizer que quero aplicar esse titulo para 2 colunas -->
                        <th>Nivel do conteúdo</th>
                        <th>Responsavel pela matéria</th>
                    </tr>
            
                <tr th:each="conteudo : ${conteudos}">
          	<td>
				<span th:text="${conteudo.id}"></span>
			</td>
			
           	<td>
				<span th:text="${conteudo.materia}"></span>
			</td>
			
			<td>
				<span th:text="${conteudo.nivel}"></span>
			</td>
			
			<td>
				<span th:text="${conteudo.responsavel}"></span>
			</td>
			
			
			<td>
				<span th:text="${conteudo.celular}"></span>
			</td>
          </tr>


          <tr>
          	<td>
				<a th:href="@{/conteudo/{id} (id=${conteudo.id}) }">Detalhe</a>
            </td>
            
            <td>
				<a th:href="@{/conteudo/{id}/edit (id=${conteudo.id}) }">Editar</a>
			</td>
			
            </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>

                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                     <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>

                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                </table>
        </div>
        </section>
    </main>

       <!-- RODAPÉ -->
    <footer class="rodape">
        <img class="imagem-rodape" src="assets/img/logoStudy.png" alt="" />
    </footer>
    </main>
  </body>
</html>
