<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/conteudo-form-cadastro.css" />
    <link
      rel="shortcut icon"
      href="assets/img/logoStudy.png"
      type="image/x-icon"
    />
    <title>Cadastro de novos conteúdos</title>
  </head>
  <body>
    <div class="container">
        <div class="form-image">
            <img src="assets/img/audiobook-animate.svg" alt="">
        </div>
        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastro de novos conteúdos</h1>
                    </div>
                    <!-- <div class="login-button">
                        <button><a href="#">Entrar</a></button>
                    </div> -->
                </div>

                <div class="input-group">
                    <div class="input-box-id">
                        <label for="id"><strong> ID</strong></label>
                         <input id="id" type="hidden" name="id"th:value="${conteudo.id}">
                    </div>

                    <div class="input-box">
                        <label for="materia"> <strong> Matéria</strong></label>
                        <!-- PARA SE FAZER LISTA SE USA SELECT E OPTION  -->
                        <!-- SELECT É O CAMPO ONDE TEREMOS QUE CLICAR E OPTION SAO CADA OPÇÃO Q TERÁ NA LISTA-->
                       <option selected disable value="">Selecione</option>
                        <select id="materia">
                        <option>Português</option>
                        <option>Matemática</option>
                        <option>História</option>
                        <option>Ciências</option>
                        </select>
                    </div>

                    <div class="input-box">
                        <label for="nivel"> <strong> Nivel do conteúdo</strong></label>
                        <!-- PARA SE FAZER LISTA SE USA SELECT E OPTION  -->
                        <!-- SELECT É O CAMPO ONDE TEREMOS QUE CLICAR E OPTION SAO CADA OPÇÃO Q TERÁ NA LISTA-->
                       <option selected disable value="">Selecione</option>
                        <select id="nivel">
                        <option>Nivel 1</option>
                        <option>Nivel 2</option>
                        <option>Nivel 3</option>
                        </select>
                    </div>

                    <div class="input-box">
                        <label for="responsavel"> <strong> Responsavel pelo conteúdo</strong></label>
                        <!-- PARA SE FAZER LISTA SE USA SELECT E OPTION  -->
                        <!-- SELECT É O CAMPO ONDE TEREMOS QUE CLICAR E OPTION SAO CADA OPÇÃO Q TERÁ NA LISTA-->
                       <option selected disable value="">Selecione</option>
                        <select id="responsavel">
                        <option>Kaique Oliveira</option>
                        <option>Gabriel Calixto</option>
                        <option>Dayana</option>
                        <option>Larissa</option>
                        <option>Ana Vitória</option>
                        </select>
                    </div>
                </div>

                <div class="continue-button">
                    <button type "submit">Continuar </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
