<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="UTF-8"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/questionario.css">
	<link rel="stylesheet" href="/css/side-bar.css">
	<title>Escolhr nivel</title>
</head>

<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho2"></div>

	<section class="conteudo">

		<div th:replace="fragmentos/fragmentos :: side-bar-user"></div>

		<div class="container-funcoes ">
			<div class="container ">
				<div class="row ">
					<div class="two-thirds column ">
						<div class="titulo text-light">
							<h2 class="text-light titulo-questionario"><strong class="html">HTML: </strong> <span
									th:text="${intermediario.pergunta12}"> suas primeiras tags</span></h2>
							<div id="progress_bar"></div>
						</div>

						<form class="questions_box">
							<div id="question-1">
								<h2 class="h2">Questão 1
									<h3 class="h3" th:text="${conteudo.pergunta1}">Qual tag é responsavel por deixar o
										texto em negrito?</h3>

									<div class="form-check">
										<input id="question-1-answer-a" type="radio" name="favelang" value="1" />
										<span th:text="${conteudo.alt}"> </span><br />
										<input id="question-1-answer-b" type="radio" name="favelang" value="2" />
										<span th:text="${conteudo.alt2}"> </span><br />
										<input id="question-1-answer-c" type="radio" name="favelang" value="3" />
										<span th:text="${conteudo.alt3}"> </span><br />
										<input id="question-1-answer-c" type="radio" name="favelang" value="3" />
										<span th:text="${conteudo.respostaCorreta}"> </span><br />

									</div>
									<div id="submit1" class="button">Avançar</div>
									<div class="clearfix"></div>
							</div>

							<div id="question-2">
								<h2 class="h2">Questão 2</h2>
								<h3 class="h3" th:text="${conteudo.pergunta2}">Qual tag é responsavel por deixar o
									texto em negrito?</h3>
								<div class="form-check">
									<input id="question-2-answer-a" type="radio" name="favelang" value="1" />
									<span th:text="${conteudo.alt4}"> </span><br />
									<input id="question-2-answer-b" type="radio" name="favelang" value="2" />
									<span th:text="${conteudo.alt5}"> </span><br />
									<input id="question-2-answer-c" type="radio" name="favelang" value="3" />
									<span th:text="${conteudo.alt6}"> </span><br />
									<div id="submit2" class="button">Avançar</div>
									<div class="clearfix"></div>
								</div>
							</div>

							<div id="question-3">
								<h2 class="h2">Questão 3</h2>
								<h3 class="h3" th:text="${conteudo.pergunta3}">Qual tag é responsavel por deixar o
									texto em negrito?</h3>
								<div class="form-check">
									<input id="question-2-answer-a" type="radio" name="favelang" value="1" />
									<span th:text="${conteudo.alt7}"> </span><br />
									<input id="question-2-answer-b" type="radio" name="favelang" value="2" />
									<span th:text="${conteudo.alt8}"> </span><br />
									<input id="question-2-answer-c" type="radio" name="favelang" value="3" />
									<span th:text="${conteudo.alt9}"> </span><br />
									<div id="submit3" class="button">Avançar</div>
									<div class="clearfix"></div>
								</div>
							</div>

							<div id="question-4">
								<h2 class="h2">Questão 4</h2>
								<h3 class="h3" th:text="${conteudo.pergunta4}">Qual tag é responsavel por deixar o
									texto em negrito?</h3>
								<div class="form-check">
									<input id="question-2-answer-a" type="radio" name="favelang" value="1" />
									<span th:text="${conteudo.alt10}"> </span><br />
									<input id="question-2-answer-b" type="radio" name="favelang" value="2" />
									<span th:text="${conteudo.alt11}"> </span><br />
									<input id="question-2-answer-c" type="radio" name="favelang" value="3" />
									<span th:text="${conteudo.alt12}"> </span><br />
									<div id="submit4" class="button">Avançar</div>
									<div class="clearfix"></div>
								</div>
							</div>

							<div id="question-5">
								<h2 class="h2">Questão 5</h2>
								<h3 class="h3" th:text="${conteudo.pergunta5}">Qual tag é responsavel por deixar o
									texto em negrito?</h3>
								<div class="form-check">
									<input id="question-2-answer-a" type="radio" name="favelang" value="1" />
									<span th:text="${conteudo.alt13}"> </span><br />
									<input id="question-2-answer-b" type="radio" name="favelang" value="2" />
									<span th:text="${conteudo.alt14}"> </span><br />
									<input id="question-2-answer-c" type="radio" name="favelang" value="3" />
									<span th:text="${conteudo.alt15}"> </span><br />
									<div id="submit5" class="button">Avançar</div>
									<div class="clearfix"></div>
								</div>
							</div>

							<div id="question-6">
								<h2 class="h2 text-success">Parabens! <br>Mais uma atividade finalizada</h2>
								<h3 class="h3">Visualize seu nível de acerto abaixo:</h3>
								<h1 class="js" id="printtotalscore"></h1>
								<p class="js" id="printscoreinfo"></p>
								<a href="funcoes.html">

									<a th:href="@{/usuario/home}">
										<div id="submit4" class="button">Vamos lá!</div>
									</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/assets/js/questionarios.js"></script>

	<script type="text/javascript">

		$(document).ready(function () {

			$('.sub-btn').click(function () {
				$(this).next('.sub-menu').slideToggle();
				$(this).find('.dropdown').toggleClass('rotate');
			});

			$('.menu-btn').click(function () {
				$('.side-bar').addClass('active');
				$('.menu-btn').css("visibility", "hidden");
			});

			$('.close-btn').click(function () {
				$('.side-bar').removeClass('active');
				$('.menu-btn').css("visibility", "visible");
			});

		});


	</script>
</body>

</html>